<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Products</h1>
    <ul>
        <% lists.forEach(list => { %>

            <% if (list.price >= 40000 && list.isActive) { %>
                <a href="/products/<%= list.id %>">
                    <li><%= list.name %> - <%= list.price %></li>
                </a>
            <% } %>

        <% }) %>
    </ul>
</body>
</html>